body {
  margin: 20px;
}

.container {
  max-width: 600px;
}

footer {
  margin-top: 40px;
  padding-top: 20px;
  border-top: 1px solid #ccc;
  color: #999;
}

.marginTop-5 {
  margin-top: 5px;
}

.marginTop-10 {
  margin-top: 10px;
}

.marginTop-15 {
  margin-top: 15px;
}

.marginTop-20 {
  margin-top: 20px;
}

.marginTop-25 {
  margin-top: 25px;
}

.marginTop-30 {
  margin-top: 30px;
}

.marginTop-35 {
  margin-top: 35px;
}

.marginTop-40 {
  margin-top: 40px;
}

.marginTop-45 {
  margin-top: 45px;
}

.marginTop-50 {
  margin-top: 50px;
}

.marginTop-55 {
  margin-top: 55px;
}

.marginTop-60 {
  margin-top: 60px;
}

.marginTop-65 {
  margin-top: 65px;
}

.marginTop-70 {
  margin-top: 70px;
}

.marginTop-75 {
  margin-top: 75px;
}

.marginTop-80 {
  margin-top: 80px;
}

.marginTop-85 {
  margin-top: 85px;
}

.marginTop-90 {
  margin-top: 90px;
}

.marginTop-95 {
  margin-top: 95px;
}

.marginTop-100 {
  margin-top: 100px;
}

.imgs-icon {
  padding: 100%;
  margin: 100%;
  list-style: none;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: palevioletred;
  cursor: pointer;
}

.cam-icon {
  padding: 100%;
  margin: 100%;
  list-style: none;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: palevioletred;
  cursor: pointer;
}

.reloj-icon {
  padding: 100%;
  margin: 100%;
  list-style: none;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: palevioletred;
  cursor: pointer;
}

.plus-icon {
  padding: 100%;
  margin: 100%;
  list-style: none;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: palevioletred;
  cursor: pointer;
}

.icon_c {
  width: 2em;
  margin: 2em;
  position: relative;
}
.icon_c img {
  position: absolute;
  right: 1.1em;
  bottom: 1em;
}

.inpt_num {
  border: 1px solid #289de3 !important;
  height: 3rem !important;
  padding: 0 1rem !important;
  margin: 1rem 0rem !important;
  width: 20%;
}

.text_chico {
  border: 1px solid #289de3 !important;
  padding: 0.5rem 1rem !important;
  margin: 1rem 0rem !important;
  width: 70%;
}

/*# sourceMappingURL=style.css.map */
