body {
    margin: 20px;
}
.container {
    max-width: 600px;
}
footer {
    margin-top: 40px;
    padding-top: 20px;
    border-top: 1px solid #ccc;
    color: #999;
}


@for $i from 1 through 20{  // Bucle que va de 1 a 20
    .marginTop-#{$i*5}{        // en caso afirmativo creara la clase .spacer-xx
        margin-top:5px * $i; // con un tamaño relativo al numero por el que avanza el bucle
    }  
}
@mixin circle_icon {
    padding: 100%;
    margin:100%;
    list-style: none;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: palevioletred;
    cursor: pointer;
}

@each $nombre in imgs, cam , reloj, plus {
    .#{$nombre}-icon {
      //background-image: url('/images/#{$nombre}.svg');
      @include circle_icon;
    }
}

.icon_c{
 width:2em;
 margin: 2em;
 position: relative;
 img{
    position: absolute;
    right: 1.1em;
    bottom: 1em;
 }
}

  