<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Formulario Jquery</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    
</head>
<body>
    <div id="app" class="container">
        <div >
            <h4>Mayusculas en conjunto de jquery, {{ first_name.toUpperCase() }}</h4>
            <h4>Concatenacion en conjunto de jquery, {{ first_name + '!!' }}</h4>
            <h4>Operaciones en conjunto de jquery, {{ 2+7 }}</h4>
            <div class="marginTop-30">
                <strong>Este ya es codigo limpio </strong>    
                <h4>{{first_name}} : {{ reversedName }}</h4>
            </div>
            <div class="marginTop-30">
                <strong>Directiva v-once</strong>    
                <h4>{{project}}</h4>
            </div>
            <div class="marginTop-60 sec_icon">
                <div class="icon_c">
                    <div class="img-icon"><img src="assets/img.svg" alt=""></div>
                </div>
                <div class="icon_c">
                    <div class="plus-icon"><img src="assets/plus.svg" alt=""> </div>
                </div>
                <div class="icon_c">
                    <div class="cam-icon"><img src="assets/cam.svg" alt=""></div>
                </div>
                <div class="icon_c">
                    <div class="reloj-icon"><img src="assets/reloj.svg" alt=""></div>
                </div>

            </div>
            
            
        </div>
    
        <footer class="footer">
            <p>&copy; 2017 Styde.net.</p>
        </footer>
    </div>
    <script type="text/javascript" src="https://unpkg.com/vue@2.1.8/dist/vue.js"></script>
    <script
    src="https://code.jquery.com/jquery-3.1.1.js"
    integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
    crossorigin="anonymous"></script>


    <script>
       var vm = new Vue({
            el: "#app",
            data: {
            first_name: 'Lizeth',
            project:'Nombre estatico del proyecto'
        },
        computed:{
            reversedName: function (){
                return this.first_name.split('').reverse().join('');
            }
        }
        });
    </script>
</body>
</html>