<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Formulario Jquery</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    
</head>
<body>
    <div id="app" class="container">
        <div v-if="!formSubmitted">
            <form @submit.prevent="submitForm" >
                <h4>Regístrate:</h4>
    
                <div class="form-group">
                    <label for="first_name">Nombre:</label>
                    <input v-model="first_name" type="text" id="first_name" class="form-control">
                </div>
    
                <div class="form-group">
                    <label for="last_name">Apellido:</label>
                    <input v-model="last_name" type="text" id="last_name" class="form-control">
                </div>
    
                <button type="submit" :disabled="!isFormValid()" class="btn btn-primary">Continuar</button>
            </form>
        </div>
        <div v-else>
            <h4>Bienvenido, {{ first_name }} {{last_name}}</h4>
        </div>
    
        <footer class="footer">
            <p>&copy; 2017 Styde.net.</p>
        </footer>
    </div>
    <script type="text/javascript" src="https://unpkg.com/vue@2.1.8/dist/vue.js"></script>

    <script>
       new Vue({
            el: "#app",
            data: {
            first_name: '',
            last_name: '',
            formSubmitted: false
        },
        methods: {
            isFormValid: function () {
                return this.first_name != "" && this.last_name != "";
            },
            submitForm: function () {
                if (!this.isFormValid()) return;
                this.formSubmitted = true;
            }
        }
        });
    </script>
</body>
</html>